<div class="auth-container">
  <h2>Crear una cuenta</h2>
  <form (submit)="onRegister()" class="auth-form">
    <div class="form-group">
      <label for="name">Nombre de Usuario</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="username"
        name="name"
        placeholder="Escribe tu nombre de usuario"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Escribe tu correo electrónico"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Crea una contraseña segura"
        required
      />
    </div>

    <div class="form-group">
      <label for="role">Rol</label>
      <select id="role" [(ngModel)]="role" name="role" required>
        <option value="" disabled selected>Selecciona un rol</option>
        <option value="admin">admin</option>
        <option value="doctor">doctor</option>
        <option value="patient">Patient</option>
      </select>
    </div>

    <button type="submit" class="btn-primary">Registrar</button>
  </form>
</div>
